@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
}
.container{
    display: grid;
    grid-template-columns: 280px 450px;
    grid-template-rows: 300px;
}
.left{
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.right{
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1.2rem 2.5rem;
}
.right h3{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 12px;
}
.right p{
    color: hsl(212, 23%, 69%);
    font-size: 14px;
    padding-bottom: 16px;
}
.image{
    width: 50px;
    border-radius: 50%;
}
.author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-date{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.name-date .name{
    color: hsl(217, 19%, 35%);
    font-weight: 600;
    font-size: 0.8rem;
}
.name-date .date{
    color: hsl(214, 17%, 51%);
    font-size: 0.7rem;
    margin-top: 3px;
}
.share-image{
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 25px;
    padding: 5px;
    cursor: pointer;
}
.share-box{
    background-color: hsl(217, 19%, 35%);
    height: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    left: 250px;
    bottom: 60px;
}
.share-box > *{
    margin-left: 0.8rem;
}
.share-box:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    content: '';
    position: absolute;
    right: 105px;
    top:50px;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}
.share-box span{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 5px;
    color: hsl(210, 46%, 95%);
}

.hide{
    display: none;
}

@media (max-width:768px){
    body{
        width: 80%;
        margin: 20px auto;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .left{
        border-top-right-radius: 15px;
        border-bottom-left-radius: unset;
    }
    .right{
        border-bottom-left-radius: 15px;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }
   
    .share-box{
        width: 395px;
        height: 80px;
        background-color: hsl(217, 19%, 35%);
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        position: absolute;
        left: -39px;
        bottom: -15px;
    }
    .share-box::before{
        display: none;
    }
    .share-box span{
        margin-left: 2rem;
    }
    .share-image{
        z-index: 5;
    }
    .right p{
        margin-bottom: 1rem;
    }
    .hide{
        display: none;
    }
}